[client]
port=3306
default-character-set=UTF8MB4
no-auto-rehash
socket=/deploy/mysql/mysql.sock
user=root
password=111111


[mysqld]
server-id=7103306
port=3306
skip-name-resolve
bind_address=0.0.0.0
user=mysql
explicit_defaults_for_timestamp=0
character_set_server=UTF8MB4
basedir=/deploy/mysql
datadir=/deploy/mysql/mysql-files
socket=/deploy/mysql/mysql.sock
log-error=/deploy/mysql/logs/error.log
log_bin=/deploy/mysql/bin-log/binlog
binlog_format=row
sync_binlog=1
general_log=ON
general_log_file=/deploy/mysql/logs/mysql-general.log
slow_query_log=ON
slow_query_log_file=/deploy/mysql/logs/mysql-slow.log
long_query_time=1
innodb_file_per_table=1
innodb_data_home_dir=/deploy/mysql/innodb_data/
innodb_data_file_path=ibdata1:1G;ibdata2:200M:autoextend
log_timestamps=SYSTEM
