[client]
port=3306
socket=/mysql_data/mysql.sock
default-character-set=UTF8MB4
[mysql]
no-auto-rehash
[mysqld]
bind_address=0.0.0.0
user=mysql
port=3306
server_id=1
skip_name_resolve=1
explicit_defaults_for_timestamp=1
basedir=/usr/local/mysql
datadir=/mysql_data
socket=/mysql_data/mysql.sock
character_set_server=UTF8MB4
log-error=/mysql_data/logs/mysql-error.log
log_error_verbosity=3
log_bin=/mysql_data/binlog/mysql-binlog
binlog_format=row
sync_binlog=1
general_log=ON
general_log_file=/mysql_data/logs/mysql-general.log
slow_query_log=ON
slow_query_log_file=/mysql_data/logs/mysql-slow.log
long_query_time=1
log_queries_not_using_indexes=ON
log_throttle_queries_not_using_indexes=1
log_slow_admin_statements=ON
